<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }} </title>
	<link rel="canonical" href=" { { site.url  }  }{ { page.url  }  }" />
    <link href="http://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/default.css" />
    <link rel="alternate" type="application/atom+xml" title="Feed for blog posts" href="/feed.xml">
	<script type="text/javascript">
    var host = "blog.mraiur.com";
	    if ((host == window.location.host) && (window.location.protocol != "https:"))
		        window.location.protocol = "https";
	</script>
</head>
<body>
    <div class="wrapper">
    <nav>
        <a href="/">home</a> &middot; <a href="/feed.xml">feed</a>
    </nav>
    <header>
        <h1>{{ page.title }}</h1>
        <time>{{ page.date | date_to_string }}</time>
    </header>
    <article>
        {{ content }}
        {% for post in site.posts %}
            {% if post.url == page.url %}
                {% assign post_index = forloop.index %}                        
            {% endif %}
        {% endfor %}
        {% for post in site.posts %}
            {% if post_index == forloop.index0 %}
                {% assign next_url = post_url %}
                {% assign next_title = post_title %}
            {% endif %}
        {% endfor %}
        {% if next_url %}
        <aside>
            <p><strong>next:</strong><br />
            <a href="{{ next_url }}">{{ next_title }}</a></p>
        </aside>
        {% endif %}
    </article>

    <footer>
        <a href="/">home</a> &middot; <a href="/feed.xml">feed</a> &middot; <a href="https://tinypress.co/">&lt;3, tinypress</a>
    </footer>

	<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)
},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-8528011-4', 'auto');
ga('send', 'pageview');
	</script>
  </div>
</body>
</html>
